.Item {
  display: flex;
  align-items: baseline;

  p {
    margin-bottom: 0;
  }

  .image {
    width: 60px;
    height: 60px;
    margin-right: 10px;

    @media (max-width: 480px) {
      display: none;
    }

    > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .itemName {
    margin-right: 10px;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .price {
    flex: 0 0 90px;
    text-align: right;
  }
}
